/* Body e fonte */
body {
    background-color: #a8a3a3;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal: duas colunas */
.login-container {
    display: flex;
    width: 800px;
    max-height: 90vh;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
}

/* Coluna da imagem */
.login-container .login-image {
    flex: 1;
    border-right: 1px solid black;
}

.login-container .login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Coluna do formulário */
.login-container .container {
    flex: 1;
    background-color: #f8f8f8;
    padding: 25px;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

/* Inputs e labels */
.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.text {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 8px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-color 0.5s;
    background-color: transparent;
}

input:focus {
    border-bottom-color: #002fff; /* muda cor quando ativo */
}

form {
    width: 100%;
}


/* Título */
h1 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 24px;
}

/* Botão Entrar */
button {
    width: 100%;
    padding: 10px;
    background-color: #39c259;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    z-index: 1;
    margin-top: 8px;
}

button:hover {
    background-color: #18a737;
    transition: 1s;
    box-shadow: none;
}

/* Botão Registrar */
.register {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    padding: 10px 0;
    background-color: #e93131;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin-bottom: 10px;
    z-index: 20;
}

.register:hover {
    background-color: #c10707;
    transition: 1s;
    box-shadow: none;
}

/* Link esquecer senha */
.esquecer-senha {
    display: block;
    margin-top: 12px;
    text-align: center;
    font-size: 13px;
    color: #0066cc;
}


.msg-erro, .msg-sucesso{
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.msg-sucesso {
    background-color: #d4edda;
    color: green;
    display: block;
    margin-bottom: 10px;
}

.msg-erro {
    background-color: #f8d7da;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
}

.msg-erro img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.msg-erro span {
    vertical-align: middle;
}



